*{
    margin: 0;
}
body{
    background-color: #f7f9ff;
}
.noto-serif-font {
  font-family: "Noto Serif", serif;}
.inter-font {
  font-family: "Inter", sans-serif;}


    /* navbar */

nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 20px;
}
.links a{
    text-decoration: none;
    margin-right: 30px;
    color: black;
}
.another-cart{
    display: none;
}

   /* banner */
.orange{
    color: #E95A08;
}
.banner{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    align-items: end;
}
.text-contant h1{
    font-size: 65px;
}
.text-contant p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

  /* our plants section */

.plants-text{
    align-items: center;
    text-align: center;
    padding: 50px ;
}
.plants-text h2{
    font-size: 50px;
}
.plants-text p{
    color:rgba(0, 0, 0, 0.5) ;
}
.card-parent{
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    padding: 20px 70px;
}
.card{
    height: 100%;
    padding: 10px;
}
.card h5{
    font-weight: lighter;
    margin-bottom: 5px;
    font-size: 22px;
}
.card p{
    font-weight: bold;
}
.btn{
    width:95% ;
    background-color: #E95A08;
    border: 0;
    height: 30px ;
    color: white;
    margin-top: 20px;
}
.batch{
    width: 250px;
    position: absolute;
    bottom:-1280px;
    left: 450px;

}
.lover-banner{
    display: flex;
    padding: 80px;
}
.Lover-image{
    
}
.lover-text {
    padding-left: 90px;
    padding-top: 70px;
}
.lover-text h1{
    font-size: 50px;
}
.lover-text li{
    font-size: 22px;
    margin-top: 30px;
    color:rgba(0, 0, 0, 0.5)  ;
}



@media screen and (max-width:375px){
    .links a{
        display: none;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }
    .another-cart{
        display: block;
    }
    .banner{
        flex-direction: column-reverse;
        padding: 0;
    }
    .image-contant img{
        width: 100%;
    }
    .text-contant{
        padding: 10px;
    }
    .text-contant h1{
        font-size: 24px;
    }
    .text-contant p{
        font-size: 14px;
    }
    .plants-text h2{
        font-size: 24px;
    }
    .plants-text p{
        font-size: 14px;
    }
    .card-parent{
        grid-template-columns: repeat( 2 ,1fr);
        padding: 5px;
    }
    .card img{
        width: 165px;
    }
    .batch{
        display: none;
    }
    .lover-banner{
        flex-direction: column;
        padding: 10px;
    }
    .lover-text{
        padding: 10px;
    }
    .Lover-image{
        width: 358px;
        height: 380px;
    }
    .lover-text h1{
        font-size: 24px;
    }
    .lover-text li{
        font-size: 14px;
    }
}